html {
    height: 100%;
}

body {
    height: 100%;
    color: #fff;
    font-size: 18px;
    background-color: #e5e5e5;
    font-family: "微软雅黑"
}



/* ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }*/

ul,
li,
h3,
body,
dl,
dt,
dd {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contaniner {
    height: 100%;
    overflow: scroll;
}

.system,
.cashier,
.food {
    float: left;
}

.hide {
    display: none;
}


/*设置界面*/


/*左边*/

.system {
    height: 100%;
    width: 7.1%;
    background-color: #000;

    position: relative;
}

.system-select {
    width: 100%;
    text-align: center;
    padding-top: 15px;
    height: 65px;
    font-size: 12px;
}

.jiaoban,
.kexian {
    position: absolute;
}

.jiaoban {
    bottom: 80px;
}

.kexian {
    bottom: 0;
}

.active {
    background-color: #38cecc;
    color: #fff;
}

.active2 {
    background-color: #38cecc;
    color: #fff;
}


/*收银界面*/


/*中间*/

.cashier {
    width: 26.4%;
    margin-left: 10px;
    background-color: #fff;
    height: 100%;
    font-size: 16px;
    position: relative;
}

.cashier .title {
    overflow: hidden;
}

.selected-item {
    background-color: #38cecc;
    padding-left: 14px;
    line-height: 50px;
    height: 50px;
    margin-bottom: 1px;
}

.cashier .title li {
    background-color: #38cecc;
    float: left;
    line-height: 50px;
    height: 50px;
    margin-bottom: 1px;
}

.cashier .title .new {
    width: 60px;
    text-align: center;
    margin-right: 1px;
}

.cashier .title .item {
    width: 78px;
    text-align: center;
    margin-right: 1px;
    padding-left: 15px;
}

.cashier .title .item img {
    padding: 15px;
    float: right;
}

.cashier .msg {
    height: 68px;
    line-height: 68px;
    color: #000;
    overflow: hidden;
    border-bottom: 2px solid #e5e5e5;
}

.cashier .msg div {
    float: left;
    padding-left: 12px;
}

.cashier .msg input {
    text-align: center;
    background: none;
    outline: none;
    border: 0px;
    width: 50px;
    height: 40px;
    border-radius: 5px;
    background-color: #e5e5e5;
    font-weight: 600;
}

.getfood {

    padding-right: 14px;
    color: #000;
    font-size: 14px;
    overflow: scroll;
    position: relative;
    z-index: 1;
    height: 540px;
}

.getfood .food-item {
    /*height: 58px;*/
    border-bottom: 1px solid #e5e5e5;
    line-height: 58px;
    overflow: hidden;
        text-indent: 14px;
}
.getfood .food-item .pack-item{
	font-size:12px;width: 100%;clear: both;border-top: 1px solid #E5E5E5;padding-top:8px;background-color: #E5E5E5;
}
.getfood .food-item .pack-item>div{
	border-bottom:1px dashed #fff;
}
.getfood .food-item .food-content {
    line-height: 29px;
    float: left;
}

.getfood .food-item .food-num {
    float: right;
    height: 100%;
}

.getfood .food-item .food-num input {
    text-align: center;
    outline: medium;
    border: none;
    height: 26px;
    width: 30px;
}

.getfood .food-item .food-num img {
    vertical-align: middle;
}

.yuanjia {
    color: #959595;
    text-decoration: line-through;
}

.xianjia {
    color: #f00;
    margin-left: 16px;
}

.cashier .checkout-content {
    border-top: 2px solid #e5e5e5;
    overflow: hidden;
    width: 100%;
    /*height: 148px;*/
    position: absolute;
    bottom: 0;
    color: #000;
    font-size: 14px;
    padding-top: 10px;
}

.cashier .checkout-content .btns {
    overflow: hidden;
    color: #ff6160;
    /*position: absolute;*/
    /*bottom: 20px;*/
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.cashier .checkout-content .btns div {
    cursor: pointer;
    font-size: 17px;
    float: left;
    width: 28%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #ff6160;
    border-radius: 30px;
}

.cashier .checkout-content .btns .checkout2,
.cashier .checkout-content .btns .clear2 {
    width: 43%;
    float: left;
    border: 1px solid #ff6160;
    border-radius: 20px;
}

.cashier .checkout-content .clear {
    /*background: url(../img/btn_houfu.png) 0 0 no-repeat;*/
}

.cashier .checkout-content .clear2 {}

.cashier .checkout-content .pay {
    /*background: url(../img/btn_houfu.png) 0 0 no-repeat;*/
}

.cashier .checkout-content .checkout {
    /*background: url(../img/btn_clearing.png) 0 0 no-repeat;*/
    color: #fff;
    background-color: #ff6160;
}

.cashier .checkout-content .checkout2 {
    /*background: url(../img/btn_clearing.png) 0 0 no-repeat;*/
    /*background-size:contain;*/
    color: #fff;
    background-color: #ff6160;
}

.cashier .checkout-content .nums {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 24px;
    overflow: hidden;
}

.cashier .checkout-content .nums div {
    overflow: hidden;
}

.cashier .checkout-content .nums .youhui {
    text-align: right;
    color: #f00;
}

.cashier .checkout-content .nums .heji {
    float: right;
}

.cashier .checkout-content .shishou {
    float: right;
    font-size: 16px;
    color: #f00;
    font-weight: 600;
}

.cashier .checkout-content .shishou2 {
    text-align: right;
    font-size: 16px;
    color: #f00;
    font-weight: 600;
    line-height: 50px;
}


.cashier .checkout-content .info {
    /*overflow: hidden;*/
    padding-bottom: 10px;
}

.cashier .checkout-content .info .content {
    width: 56%;
}

.cashier .checkout-content .info div {
    float: left;
}



/*菜单界面*/


/*右边*/

.food {
    margin-left: 10px;
    width: 65%;
    color: #000;
    position: relative;
}

.food .food-names {
    overflow: hidden;
    background-color: #fff;
}

.food .title {
    float: left;
    font-size: 16px;
    background-color: #fff;

    width: 74%;
}

.food .food-taste {
    background-color: #fff;
    position: absolute;
    top: 25%;
    width: 460px;
    height: 350px;
    left: 50%;
    margin-left: -230px;
    padding-top: 25px;
}

.food .food-taste .btn-confirm {
    overflow: hidden;
}

.food .food-taste .btn-confirm div {
    float: left;
    width: 45%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ff6160;
    border-radius: 10px;
    margin: 10px;
}

.food .food-taste .btn-confirm .cancel {
    color: #ff6160;
}

.food .food-taste .btn-confirm .sure {
    color: #fff;
    background-color: #ff6160;
}

.food .food-taste h3 {
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
    border-bottom: 1px dashed #e5e5e5;
}

.food .food-taste .guige {
    padding-left: 25px;
}

.food .food-taste .guige ul {
    overflow: hidden;
}

.food .food-taste .guige ul li {
    float: left;
    height: 50px;
    line-height: 50px;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #38cecc;
    margin: 18px 5px;
}

.food .package-food {
    font-size: 16px;
    background-color: #38cecc;
    padding: 15px 0;
    padding-left: 14px;
    color: #fff;
}

.food .package-food .package-price {
    color: #ff6160;
    padding-left: 10px;
    font-weight: bold;
}

.food .title>div {
    float: left;
    padding: 15px 24px;
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;
}

.food .search {
    height: 42px;
    float: left;
    background-color: #fff;
    width: 17%;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.food .search input {
    width: 90%;
    outline: none;
    border: 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #e5e5e5;
    height: 40px;
    padding-left: 10%;
    background-image: url('../img/icn_find.png');
    background-repeat: no-repeat;
    background-position: 128px center;
    padding-right: 20px;
}

.food .food-box {
    padding-top: 12px;
    padding-left: 12px;
    height: 830px;
    overflow: scroll;
    width: 100%;
}

.food .food-box .big-type {
    border-bottom: 1px dashed #bfbfbf;
    line-height: 36px;
    margin-bottom: 8px;
}

.food .food-box .foot-names {
    overflow: hidden;
    /*padding-top: 5px;*/
}

.food .food-box .food-name {
    background-color: #fff;
    float: left;
    margin: 8px;
    margin-top: 10px;
    cursor: pointer;
    line-height: 40px;
    position: relative;
    border-radius: 10px;
    font-size: 18px;
    padding-left: 16px;
    width: 150px;
    height: 90px;
}

.food .food-box .food-name .badge {
    width: 24px;
    height: 24px;
    background-color: #ff6160;
    border-radius: 50%;
    font-size: 16px;
    position: absolute;
    right: -10px;
    top: -10px;
    color: #fff;
    line-height: 24px;
    text-align: center;
    font-size: 16px;
}

.food .food-box .food-name .price {
    font-size: 16px;
    color: #f00;
}


/*收银界面*/

.shouyin-container {
    margin-left: 10px;
    float: left;
    width: 65%;
    font-size: 16px;
}

.shouyin-container .shouyin-way {
    width: 100%;
    overflow: hidden;

    border-radius: 10px;
}

.shouyin-container .shouyin-way .payway,
.shouyin-container .shouyin-way .member {
    float: left;
    margin-left: 10px;
    background-color: #fff;
}

.shouyin-container .shouyin-way .payway {
    padding: 15px;
    width: 59%;
    background-color: #fff;
    border-radius: 8px;
    padding-bottom: 20px;
    margin-left: 0;
}

.shouyin-container .shouyin-way .member {
    border-radius: 8px;
    width: 30%;
    color: #000;
    padding: 20px;
    font-size: 16px;

    line-height: 42px;
}

.shouyin-container .shouyin-way .member .btn {
    padding-top: 10px;
    border-bottom: none;
}

.shouyin-container .shouyin-way .member li {
    border-bottom: 1px solid #e5e5e5;
}

.shouyin-container .shouyin-way .member li span {
    float: right;
    color: #f00;
}

.shouyin-container .shouyin-way .member li button {
    border: none;
    border: 1px solid #38cecc;
    outline: none;
    background-color: #fff;
    line-height: 40px;
    margin: 5px;
    width: 28%;
    border-radius: 20px;
    height: 40px;
}

.shouyin-container .shouyin-way .payway ul {
    overflow: hidden;
}

.shouyin-container .shouyin-way .payway ul li {
    float: left;
    height: 40px;
    width: 90px;
    margin: 5px;
    border: 1px solid #38cecc;
    border-radius: 30px;
    text-align: center;
    line-height: 40px;
    color: #38cecc;
}

.active3 {
    background-color: #38cecc!important;
    color: #fff!important;
}

.shouyin-container .shouyin-way .payway ul .coupons {
    width: 100px;
    height: 50px;
    border: 1px solid #38cecc;
    border-radius: 8px;
    line-height: 25px;
}

.shouyin-container .calc {
    color: #000;
    overflow: hidden;
    margin-top: 10px;
}

.colorred {
    color: red;
}

.shouyin-container .calc .payway-select {
    padding: 20px;
    line-height: 50px;
    width: 46%;
    border-radius: 8px;
    padding-top: 0;
}

.shouyin-container .calc .payway-select .txt {
    width: 28%;
    float: left;
}

.shouyin-container .calc .payway-select .money {
    border-bottom: 1px solid #e5e5e5;
}

.shouyin-container .calc .payway-select .money span {
    padding-right: 40px;
}

.shouyin-container .calc .payway-select ul li {
    border-bottom: 1px solid #e5e5e5;
}

.shouyin-container .calc .payway-select ul li input,
.shouyin-container .calc .payway-select ul li input:focus {
    height: 30px;
    border: none;
    width: 62%;
    outline: medium;
    color: #f00;
}

.shouyin-container .calc .payway-select ul li input:focus {
    background-color: #e5e5e5;
}

.active4 {
    background-color: #e5e5e5;
}

.shouyin-container .calc .payway-select ul li img {
    vertical-align: middle;
}

.shouyin-container .calc .payway-select,
.shouyin-container .calc .keybord {
    float: left;
    background-color: #fff;
    font-size: 16px;
}

.shouyin-container .calc .keybord {
    padding: 15px;
    padding-right: 0;
    width: 44.5%;
    margin-left: 10px;
    border-radius: 8px;
    padding-bottom: 18px;
}

.shouyin-container .calc .keybord ul {
    overflow: hidden;
}

.shouyin-container .calc .keybord ul li {
    margin: 5px;
    float: left;
    height: 50px;
    background-color: #e5e5e5;
    width: 30%;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 4px 5px #d3d3d3;
    border-radius: 8px;
}

.shouyin-container .calc .keybord ul li img {
    padding-top: 15px;
}

.shouyin-container .calc .keybord ul li.huilv {
    width: 63%;
}

.shouyin-container .eat {
    height: 80px;
    line-height: 80px;
    color: #000;
    background-color: #fff;
    border-radius: 8px;
    padding-left: 30px;
    margin-top: 10px;
    margin-right: 2%;
}

.shouyin-container .eat input {
    width: 40%;
    height: 40px;
    border: none;
    outline: medium;
    background-color: #e5e5e5;
    margin-left: 20px;
    border-radius: 20px;
    padding-left: 20px;
}

.shouyin-container .eat button {
    border: none;
    outline: none;
    height: 40px;
    width: 120px;
    border-radius: 20px;
}

.shouyin-container .eat .btns {
    float: right;
    margin-right: 20px;
}

.shouyin-container .eat .btns .tangshi {
    background-color: #ff6160;
    color: #fff;
}

.shouyin-container .eat .btns .ziqu {
    background-color: #fff;
    border: 1px solid #ff6160;
    color: #ff6160;
}

.shouyin-container .eat .btns .fanhui {
    background-color: #38cecc;
    color: #fff;
}