<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title>收银系统</title>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/cashier-system.css">
	</head>

	<body>
		<div class="contaniner" id="contaniner">
			<!-- 左边 -->
			<div class="system">
				<div class="system-select shouyin active">
					<img src="img/icn_shouyin.png" alt="">
					<div>收银</div>
				</div>
				<div class="system-select dingdan">
					<img src="img/icn_dingdan.png" alt="">
					<div>订单</div>
				</div>
				<div class="system-select waimai">
					<img src="img/icn_waimai.png" alt="">
					<div>外卖</div>
				</div>
				<div class="system-select kexian">
					<img src="img/icn_kexian.png" alt="">
					<div>打开客显</div>
				</div>
				<div class="system-select jiaoban">
					<img src="img/icn_jiaoban.png" alt="">
					<div>交班结算</div>
				</div>
			</div>
			<!-- 中间 -->
			<div class="cashier">
				<ul class="title" v-if="p1Show">
					<li class="new"><img src="img/shouyin_btn_plus.png" alt=""></li>
					<li class="item">收银<img src="img/shouyin_btn_close.png" alt=""></li>
					<li class="item">收银<img src="img/shouyin_btn_close.png" alt=""></li>
					<li class="item">收银<img src="img/shouyin_btn_close.png" alt=""></li>
				</ul>
				<div class="selected-item" v-if="p2Show">已选菜品</div>
				<div class="msg" v-if="p1Show">
					<div>
						<span class="text">折扣:</span>
						<input type="text" value="5">
					</div>
					<div>
						<span class="text">桌号:</span>
						<input type="text" value="A1">
					</div>
					<div>
						<span class="text">人数:</span>
						<input type="text" value="4">
					</div>
				</div>
				<div class="getfood">
					<!--单品点餐-->  
					<div class="food-item" v-if="p1Show" v-for="(food,foodIndex) in shopProductList">
						<div class="food-content">
							<!--{{food}}-->
							<div class="food-name">{{food.product_name}}</div>
							<div class="price">
								<span class="yuanjia">¥{{food.price}} </span> <span class="xianjia">¥{{food.price}}</span>
							</div>
						</div>
						<div class="food-num">
							<img src="img/btn_minus.png" alt="" @click="minus(foodIndex,1)">
							<input v-model="food.num" type="text">
						
							<img src="img/btn_plus.png" alt="" @click="add(foodIndex,1)">
						</div>
						<!--套餐显示-->
						<div class="pack-item" v-for="packFood in food.site_product_accessory">
							<div>{{packFood.accessory_name}} <span class="xianjia">¥ {{packFood.price}}</span></div>
							<!--<div>白灼秋葵 <span class="xianjia">¥ 58</span></div>-->
							<!--<div>白灼秋葵 <span class="xianjia">¥ 58</span></div>-->
							
						</div>
					</div>

					<!--套餐点餐-->
					<div class="food-item" v-if="p2Show" v-for="(food,foodIndex) in packProductList">
						<div class="food-content">
						
							<div class="food-name">{{food.accessory_name}}</div>
							<div class="price">
								<span class="yuanjia">¥{{food.price}} </span> <span class="xianjia">¥{{food.price}}</span>
							</div>
						</div>
						<div class="food-num">
							<img src="img/btn_minus.png" alt="" @click="minus(foodIndex,2)">
							<input v-model="food.num" type="text">
							<!--<span>{{food.num}}</span>-->
							<img src="img/btn_plus.png" alt="" @click="add(foodIndex,2)">
						</div>
					</div>
				</div>
				<div class="checkout-content">
					<div class="nums">
						<div v-if="p1Show">
							<span class="total">共{{totalNumber()}}份</span>
							<span class="heji">合计¥{{totalPrice(1)}}</span>
						</div>
						<div class="youhui" v-if="p1Show">优惠 ¥{{promotionPrice()}}</div>
						<div class="info" v-if="p1Show">
							<div>备注：</div>
							<div class="content">
								
							</div>
							<span class="shishou">实收 ¥{{finalPrice()}}</span>
						</div>
						<div class="shishou2" v-if="p2Show">合计¥{{totalPrice(2)}}</div>
					</div>
					<div class="btns" v-if="p1Show">
						<div class="clear" @click="clearSelected(1)">清空</div>
						<div class="pay">后付</div>
						<div class="checkout" @click="finalCheckOut">结算</div>
					</div>
					<div class="btns" v-if="p2Show">
						<div class="clear2" @click="clearSelected(2)">清空</div>
						<div class="checkout2" @click="packMakeSure">确认</div>
					</div>
				</div>
			</div>
			<!-- 右边 -->
			<div class="food" v-if="p1ShowChild">
				<div class="food-names" v-if="p1Show">
					<div class="title">
						<div v-for="(foodName,foodNameIndex) in allProductList" :class="{active:foodNameIndex==pageNum}" @click="foodSwitch(foodNameIndex)">
							{{foodName.type_name}}
						</div>

					</div>
					<div class="search">
						<input type="text">
						<!-- <img src="img/icn_find.png" alt=""> -->
					</div>
				</div>
				<div class="package-food" v-if="p2Show">{{packName}} <span class="package-price">¥{{packPrice}}</span></div>
				<div class="food-box">
					<!--单品点餐-->
					<div class="foot-names"  v-for="(allfood,allfoodIndex) in allProductList" v-if="p1Show && allfoodIndex==pageNum">
						<!--<div class="big-type" v-if="p2Show">
							主菜 1/1
						</div>-->
						<div :aaa="111" class="food-name" v-for='(food,foodIndex) in allfood.shop_product' @click="selectfood(allfoodIndex,foodIndex,1)">
							{{food.product_name}}
							<div class="price">¥{{food.price}}</div>
							<span class='badge' v-if="food.num>0">{{food.num}}</span>
						</div>
					</div>
					<!--套餐点餐-->
					<div class="foot-names" v-if="p2Show" v-for="(packFood,packAllfoodIndex) in packAllProductList">
						<div class="big-type">
							{{packFood.title}}      <span class="big-type-num">最多选{{packFood.max_quantity}}项/最少选{{packFood.min_quantity}}项 </span> 
						</div>
						<div :aaa="222" class="food-name" v-for='(sitefood,siteFoodIndex) in packFood.site_product_accessory' @click="selectfood(packAllfoodIndex,siteFoodIndex,2)">
							{{sitefood.accessory_name}}
							<div class="price">¥{{sitefood.price}}</div>
							<span class='badge' v-if="sitefood.num>0">{{sitefood.num}}</span>
						</div>
					</div>

				</div>
				<div class="food-taste hide">
					<div class="guige">
						<h3>选择规格</h3>
						<ul>
							<li class="active2">大份</li>
							<li>中份</li>
							<li>小份</li>
						</ul>
					</div>
					<div class="guige">
						<h3>选择口味</h3>
						<ul>
							<li class="active2">少辣</li>
							<li>加辣</li>
							<li>不辣</li>
						</ul>
					</div>
					<div class="btn-confirm">
						<div class="cancel">取消</div>
						<div class="sure">确认</div>
					</div>
				</div>
			</div>
			<!-- 收银 -->
			<div class="shouyin-container" v-if="!p1ShowChild">
				<div class="shouyin-way">
					<div class="payway">
						<ul>
							<li v-for="(pay,payIndex) in getPayWayList" v-if="pay.pay_type_code || pay.type_name" :typeid="pay.typeid" :shopid="pay.shopid" :class="{active3:payWayIndex==payIndex}" @click="selectPayWay(payIndex)">{{pay.type_name}}</li>
							<!--<li>银联卡</li>
							<li>口碑</li>
							<li>储蓄卡</li>
							<li>支付宝</li>
							<li>微信</li>
							<li>闪惠</li>
							<li>闪惠</li>
							<li>口碑</li>
							<li>储蓄卡</li>
							<li>支付宝</li>
							<li>微信</li>
							<li>闪惠</li>
							<li>闪惠</li>-->
						</ul>
						<!--<ul>
							<li :class="{active3:payMoneyIndex==moneyIndex}" v-for="(money,moneyIndex) in payMoneyList" @click="selectMoney(moneyIndex)">¥ {{money}}</li>
							<li>¥ 30</li>
							<li>¥ 20</li>
							<li>¥ 10</li>
							<li>¥ 5</li>
						</ul>-->
						<ul>
							<li class="coupons active3">优惠券1
								<br> 优惠券1</li>
							<li class="coupons">优惠券1
								<br> 优惠券1</li>
							<li class="coupons">优惠券1
								<br> 优惠券1</li>
							<li class="coupons">优惠券1
								<br> 优惠券1</li>
							<li class="coupons">优惠券1
								<br> 优惠券1</li>
							<li class="coupons">优惠券1
								<br> 优惠券1</li>
							<li class="coupons">优惠券1
								<br> 优惠券1</li>
						</ul>
					</div>
					<ul class="member">
						<li>会员</li>
						<li>姓名： <input v-model="memberMsgList.user_name" type="text" /> 
							<!--<span>余额：¥50</span>-->
						</li>
						<li>会员号：{{memberMsgList.userid}}</li>
						<li>卡号：<input v-model="memberMsgList.cardno" type="text" /></li>
						<li>预存：</li>
						<li>电话： <input v-model='memberMsgList.mobile' type="text" name="" id="" value="" /></li>
						<li class="btn">
							<button>注销</button>
							<button @click="openAnAccount()">开户</button>
							<button class="active3">充值</button>
						</li>
					</ul>
				</div>
				<div class="calc">
					<div class="payway-select">
						<div>
							<div class="money">
								<span>合计¥{{totalPrice(1)}}</span>
								<span>优惠
                                <span class="colorred">¥ {{promotionPrice()}}</span>
								</span>
								<span>实收
                                <span class="colorred">¥ {{finalPrice()}}</span>
								</span>
							</div>
							<ul>
								<li class="active4">
									<span class="txt">优惠券（¥）：</span>
									<input type="number"><img src="img/btn_delete.png" alt="">
								</li>
								<li>
									<span class="txt">现金（¥）：</span>
									<input type="number"><img src="img/btn_delete.png" alt=""></li>
								<li>
									<span class="txt">储蓄卡（¥）：</span>
									<input type="number"><img src="img/btn_delete.png" alt=""></li>
								<li>
									<span class="txt">找零（¥）：</span>
									<input type="number"><img src="img/btn_delete.png" alt=""></li>
							</ul>
						</div>
					</div>
					<div class="keybord">
						<ul>
							
							<li :class="{huilv:numIndex==13}" v-for="(num,numIndex) in keyBoardNumList" v-html="num" @click="selectNums(numIndex)"></li>
						</ul>
					</div>
				</div>
				<div class="eat">
					扫码
					<input type="text">
					<div class="btns">
						<button class="tangshi" @click="payMoneyCheckOut()">堂食</button>
						<button class="ziqu">自取</button>
						<button class="fanhui">返回</button>
					</div>
				</div>
			</div>
			<div v-if="isShow" :class="{mask:isShow}"></div>
            <div class="toast-container" v-if="isShowToast">
            	
            		{{toastContent}}
            
            </div>
		</div>
	</body>
	<script src="js/vue.js"></script>
	<script src="js/axios.min.js"></script>
	<script src="js/cashier-system.js"></script>

</html>